html, body {
	width: 400px;
	margin: 0 auto;
}

body {
	margin: 0;
	background-color: #d5d5d5;
	width: 100%;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}

.impossible {
	width: 400px;
	margin: 0 auto;
	position: relative;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 50px;
	line-height: 50px;
	margin: 20px 0 25px 25px;
}

h4 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	margin: 26px 0 0 20;
	position: absolute;
	left: 170px;
	top: 74px;
	font-size: 11px;
	width: 153px;
}

.header {
	padding: 15px 0 10px;
	position: relative;
}

.header h1, .header h4 {
	color: white;
	float: left;
}

.header h1 span {
	color: #001F3F;
}

.content {
	margin: 10px auto;
	width: 86%;
}

a.chosen-single.chosen-default {
	border-radius: 0px;
}

.footer {
	background-color: #F3005E;
	height: 40px;
	position: absolute;
	bottom: 0px;
}
