html, body {
	width: 300px;
	margin: 0 auto;
}

body {
	margin: 0;
	background-color: #d5d5d5;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}

.impossible {
	width: 300px;
	margin: 0 auto;
	position: relative;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 47px;
	line-height: 50px;
	margin: 0px 0 5px;
}

h4 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	margin: 0 0 10px;
	font-size: 12px;
}

h5 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	color: white;
	margin-bottom: 10px;
}

.header {
	padding: 5px 0 0;
	position: relative;
	margin: 10px auto;
}

.header h1, .header h4 {
	color: white;
	float: left;
}

.header h1 span {
	color: #fa0000;
}

.content {
	margin: 10px auto 80px;
}

.recommendations .rows {
	color: #FFF;
	background-color: #2ECC40;
	padding: 10px;
	border-radius: 3px;
	font-size: 14px;
	margin: 0 0 6px;
}

.rows .fa {
	padding: 0 4px;
}

.rows .fa.close {
	float: right;
}

#food {
	width: 228px !important;
}

#qty {
	width: 68px !important;
}

.add-to-list {
	width: 300px;
	padding: 13px 0;
	background-color: #fa0000;
	color: #FFF;
	text-transform: uppercase;
	font-size: 14px;
	border-radius: 3px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin: 8px 0;
	cursor: pointer;
}

.add-to-list:hover {
	background-color: #ee4035;
}

.add-to-list.disabled {
	background-color: #a0a0a0;
	cursor: default;
}

select {
	-webkit-appearance: none;
	background: #FFF;
	border-radius: 0px;
	padding: 5px 10px;
	border: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	max-width: 226px;
}

.impossible .chosen-container-single .chosen-single {
	background: #FFF;
	border-radius: 0px;
	padding: 5px 10px;
	border: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.impossible .chosen-container-active.chosen-with-drop .chosen-single {
	background-color: #FFF;
	border: none;
	background-image: none;
	box-shadow: none;
}

.impossible .chosen-container.chosen-with-drop .chosen-drop {
	border: 0px;
}

.impossible .chosen-container-single .chosen-single div {
	top: 4px;
}

.chosen-container .chosen-results li {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.table .tr div, .table .tr div:before, .table .tr div:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.table {
	margin: 20px 0 0 0;
	display: none;
}

.table .th div {
	color: white;
	float: left;
	font-size: 13px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.table .tr {
	display:none;
}

.table .tr div {
	float: left;
	font-size: 14px;
}

.qty-col {
	width: 30px;
	margin-right: 10px;
	cursor: pointer;
}

.qty-col input {
	display: none;
}

.qty-col.active span {
	display: none;
}

.qty-col.active input {
	display: inline;
	border: 0;
	margin: 0;
	padding: 0;
	outline: 0;
	width: 20px;
	font-size: 14px;
	color: #666;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

div.tr div.chart {
	display: none;
	clear: both;
}

div.tr.details div.chart, div.tr.just-loaded div.chart {
	display: block;
	padding-top: 20px;
}

div.chart path {
	stroke-width: 2px;
	stroke: #666;
}

div.chart rect {
	fill: #fa0000;
	stroke: none;
}

div.chart rect.home {
	fill: #666;
}

div.chart text {
	fill: #333;
	stroke: none;
	font-size: 12px;
}

div.chart g text {
	text-transform: uppercase;
	text-anchor: start;
}

div.chart text.label {
	text-anchor: start;
	fill: #999;
	font-size: 12px;
}

.food-item {
	width: 160px;
}

.food-item span {
	max-width: 130px;
	overflow: hidden;
	display: inline-block;
	cursor: pointer;
}

.food-miles {
	width: 100px;
	text-align: right;
}

.tr {
	margin-bottom: 10px;
}

.tr .qty-col {
	color: #666;
	background-color: white;
	padding: 8px 5px;
	text-align: center;
}

.tr .food-item i {
	padding-left: 4px;
}

.tr .food-item span {
	padding: 8px 10px;
	background-color: #FA0000;
	color: #FFF;
	border-radius: 3px;
	position: relative;
	font-weight: 400;
}

.tr .food-miles {
	padding: 5px;
	color: #fa0000;
}

.footer {
	background-color: white;
	height: 60px;
	position: fixed;
	bottom: 0px;
	width: 100%;
	text-transform: uppercase;
	border-top: 1px solid #ccc;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	padding: 0 10px;
	left: 0px;
	opacity: 0.9;
}

.share {
	float: left;
	padding: 11px 17px;
	background-color: #fa0000;
	color: #FFF;
	font-size: 14px;
	border-radius: 3px;
	text-align: center;
	margin: 10px;
	cursor: pointer;
}

.total-miles {
	float: right;
	margin: 6px 7px;
}

.total {
	font-size: 24px;
	text-align: right;
}

.total-label {
	font-size: 13px;
	font-weight: 400;
	color: #666;
}

.copy-url {
	position: absolute;
	top: -45px;
	background-color: #FFF;
	padding: 8px 12px 6px 8px;
	font-size: 12px;
	border: 1px solid #ddd;
	border-bottom: none;
	border-radius: 5px;
	text-transform: none;
	display: none;
}

.copy-url input {
	width: 230px;
	border: none;
}

.copy-url .fa {
	padding: 0 6px 0 4px;
}
